.messages .msg {
  width: 45vw;
  background-color: #1d2d50;
  min-width: 200px;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 20px 5px;
}

.messages .my-msg {
  border-radius: 5px 20px;
  background-color: #1e5f74;
  text-align: left;
  transform: translateX(45vw);
}

@media (max-width: 500px) {
  .my-msg {
    transform: translateX(25vw) !important;
  }
}