body {
  background-color: #151515 !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.chatBox {
  overflow-x: hidden;
  color: white;
  padding: 3vh 10vh 10vh 10vh;
}

.footer {
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #1b2021;
  text-align: center;
}

.image-upload>input {
  display: none;
}