.chatBox{
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10%;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
    .user-msg{
        width: 200px;
    }
    .my-msg{
        position: absolute;
        right: 0px;
        width: 200px;
    }
}